/* BODY */
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: cadetblue; */
}

/* HEADER */
header {
    width: 100vw;
    height: 30vh;
}

/* NAVBAR */
nav {
    margin-top: 2em;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }


#embleme {
    height: 12vh;
}

/* MAIN */

main {
    margin-top: 1rem;
}

.jumbotron {
    width: 80vw;
    height: 50vh;
} 

.miniatures {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
}

.cardmb-3 {
    margin-top: 2rem;
}

/* FORM */
#monformulaire {
    display: flex;
    flex-direction: column;
    height:50vh;
    justify-content: center;
    align-content: center;
    margin: unset;
}

#monformulaire2 {
    display: flex;
    flex-direction: column;
    height:33vh;
    width: 32vw;
    align-content: center;
    margin: unset;
}

legend {
    font-size: 1.5em;
}

#group1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#group2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#bloc1 {
    height: 90%;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: unset;
    border : 1.3px double grey;
    justify-content: space-between;
}

#bloc2 {
    height: 90%;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: unset;
    border : 1.3px double grey;
    justify-content: space-between;
}

#bloc3 {
    height: 90%;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: unset;
    border : 1.3px double grey;
    justify-content: space-between;
}

#bloc4 {
    height: 90%;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: unset;
    border : 1.3px double grey;
    justify-content: space-between;
}

#message_erreur {
    font-family: 'concertone';
    display : flex;
    flex-direction: column;
    height: 5%;
    margin-top: 1.5em;
    color : #DF3D3E;
    font-size: 1em;
}

p {
    margin: unset;
}

/* FORM BUTTON */
#boutons {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    width: 50%;
}

#boutons > img:hover, #validation {
    cursor: pointer;
}

#refaire {
    width: 10vh;
    height: 10vh;
    margin-right: 2em;
}

#refaire2 {
    width: 10vh;
    height: 10vh;
    margin-right: 2em;
}

#refaire3 {
    width: 10vh;
    height: 10vh;
    margin-right: 2em;
}

#envoyer {
    width: 12vh;
    height: 10vh;
}

#inscription {
    width: 10vh;
    height: 10vh;
}
button {
    background-color: transparent;
    border: none;
    width: 8vh;
    margin-right: 7em;
}

/* FOOTER */
footer {
    margin-bottom: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: baseline;
}

.bas_page {
    display: flex;
    flex-direction: row;
    align-items: center;    
}

#anet {
   height: 6vh;
}